%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [
        {lhttpc, ".*",
         {git, "https://github.com/ferd/lhttpc.git", {branch, "master"}}},

        {erliam, ".*",
         {git, "https://github.com/AdRoll/erliam.git", {tag, "v0.1.1"}}}
        ]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
