%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [
    {lhttpc, {git,"git://github.com/ferd/lhttpc.git", {tag, "1.2.9"}}},
    {erliam, {git, "https://github.com/AdRoll/erliam.git", {tag, "v0.1.2"}}}
]}.

{cover_enabled, true}.

{plugins, [{rebar3_lint, "0.1.10"}]}.

{dialyzer, [
    {warnings, [unknown, no_return, error_handling]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {base_plt_apps, [erts, stdlib, kernel, sasl]},
    {base_plt_location, global}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
